<div class="menu-wrapper">
	<div class="menu top-menu d-flex align-items-center justify-content-between">
		<div class="left-menu">
			<div class="primary-400">
				<a href="#" target="_blank" rel="noopener noreferrer" class="inherit">
					Chat with us
				</a>
			</div>
			<div>
				<a href="tel:+0143278298" target="_blank" class="inherit">
					+6014 3278298
				</a>
			</div>
			<div>
				<a href="mailto:admin@clg.com" target="_blank" class="inherit">
					admin@clg.com
				</a>
			</div>
		</div>

		<div class="right-menu">
			<div class="primary-400">
				<a href="#" target="_blank" rel="noopener noreferrer" class="inherit">
					Blog
				</a>
			</div>
			<div class="primary-400">
				<a href="#" target="_blank" rel="noopener noreferrer" class="inherit">
					About Us
				</a>
			</div>
		</div>
	</div>

	<div class="menu middle-menu row justify-content-between">
		<div class="logo col-2">
			CoderLG
		</div>
		<div class="col-6">
			<app-search-bar></app-search-bar>
		</div>
		<div class="col-2">

		</div>

	</div>
</div>
